

body {
	width: 80%;
	margin : auto;
	font-family: Verdana, Arial, sans-serif;
	color: #666666;
}


h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, serif;
}

h1 {
	color : #FFFFFF;
	background-color: #000033;
	padding-top: 15px;
	padding-bottom: 15px;
}

nav {
	background-color: #90C7E3;
}

h2 {
	color: #3399CC;
}

span {
	color:#000033;
}

footer {
	text-align: center;
}

dt {
	color: #000033;
}
/*
- #000033 dark blue
- #3399CC blue
- #90C7E3 skyblue
- #666666 grey */